@mixin section-1 {
  .section-1 {
    @include pc-padding;
    padding-bottom: 250px;

    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: clamp(250px, 50vh, 420px);
      align-items: center;

      .introduction {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        width: 100%;
        height: 100%;
        gap: 14px;

        h2 {
          font-size: clamp(2vh, 8rem, 5vw);
          color: var(--accent-color);
        }
        h3 {
          font-size: 1.2rem;
          font-weight: 400;
          color: var(--accent-color);
        }

        z-index: 4;
      }

      .say-hi__container {
        display: flex;
        justify-content: flex-start;
        justify-self: end;
        width: 100%;
        height: fit-content;
        gap: 20px;
      }
      .say-hi {
        margin-top: 50px;
        @include btn;
      }

      aside {
        position: relative;
        justify-self: center;
        grid-column: 2 / -1;
        height: 100%;
      }
    }

    .code-art__container__back,
    .code-art__container__front {
      width: 400px;
      height: 410px;
      background-color: var(--background-lighter-color);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      line-break: auto;
      user-select: none;
      border: solid 1px var(--osx-border-color);
      box-shadow: var(--shadow);
      .code-art__bar {
        width: 100%;
        height: 30px;
        background-color: var(--background-lightest-color);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: solid 1px var(--osx-dot-container-bottom-border-color);

        .code-art__bar__dots__container {
          display: flex;
          gap: 10px;
          height: 100%;
          align-items: center;
          padding: 12px;
          background-color: var(--osx-window);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        .code-art__bar__dots {
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }

        .red-dot {
          background-color: #fd5e59;
        }
        .yellow-dot {
          background-color: #ffbb3b;
        }
        .green-dot {
          background-color: #34c748;
        }

        .inactive-dot {
          background-color: var(--inactive-dot);
        }
      }
    }

    .code-art__container__back {
      transform: translate(30px, -50px);
    }

    .code-art__container__front {
      position: absolute;
      top: 50px;
    }

    .code-art__content__back {
      @include code-art__content;
    }
    .code-art__content__front {
      @include code-art__content;
    }
  }

  // Text decor

  .typewriter__caret {
    height: 1rem;
    position: absolute;
    transform: translateY(-1px);
    animation: blinker 0.8s linear infinite;
    fill: var(--caret-fill-color);

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }

  // code-art text colors
  .blue {
    color: #04b2de;
  }
  .green {
    color: #57a249;
  }
  .orange {
    color: #ed8804;
  }
  .red {
    color: #c5504a;
  }
  .yellow {
    color: #cabf6a;
  }
  .gray {
    color: #999999;
  }
  .purple {
    color: #9951d4;
  }

  .code-art__base-color {
    color: var(--code-art__base-color);
  }
}
