@mixin section-2 {
  .section-2 {
    @include pc-padding;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding-bottom: 200px;

    .code__design {
      h1 {
        font-size: 10rem;
        font-weight: 100;
        font-family: "IBM Plex Serif", serif;
        color: var(--accent-color-transparent);
        opacity: 0.7;
      }

      animation: blinker 4s linear infinite;
      @keyframes blinker__1 {
        50% {
          opacity: 0;
        }
      }
    }

    article {
      grid-column: 2/ -1;
      justify-self: end;
      padding: 32px;
      width: clamp(400px, 60vw, 700px);
      border-radius: 15px;
      box-shadow: var(--shadow);
      background-color: var(--lighter-accent-color);
      gap: 42px;
      transform: translateX(clamp(80px, 10vw, 120px));
      z-index: 200;
    }

    img {
      position: absolute;
      border-radius: 15px;
      transform: translate(-120px, -50px);
      height: auto;
      width: 300px;
      box-shadow: var(--shadow);
      border-radius: 15px;
      z-index: 300;
    }

    .about-me {
      display: grid;
      grid-template-columns: 0.1fr 1fr;
      gap: 14px;

      .about-me__text {
        grid-column: 2 / -1;
        display: flex;
        gap: 16px;
        flex-direction: column;
      }

      p {
        color: var(--about-me-p-color);
      }

      h1 {
        font-size: 2rem;
        font-weight: 400;
        color: var(--about-me-h-color);
      }
    }
  }
}
