@mixin section-4 {
  .section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    @include pc-padding;
    padding-bottom: 200px;
    .slider__container {
      display: grid;
      grid-template-columns: 0fr 1fr 0fr;
      grid-template-rows: 1fr 0fr;
      justify-content: center;
      align-items: center;
      height: 600px;
      background-color: var;
      width: 100%;
      max-width: 1200px;
    }

    .dots__container {
      grid-column: 2 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding-top: 10px;

      .slider-dot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: var(--slider-background-color);
        border: none;
        cursor: pointer;
        transition: transform 0.1s ease;
      }

      @media (hover: hover) and (pointer: fine) {
        .slider-dot:hover {
          transform: scale(1.4);
          border: solid 1px var(--accent-color);
        }
      }

      .slider-dot:active {
        transform: scale(1.4);
      }

      .active-dot {
        background-color: var(--accent-color);
      }
    }
    .slide-btn {
      background: none;
      border: none;
      stroke-width: 1;
      transition: all 0.1s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      .next-slide:hover {
        transform: scale(1.4);
      }

      .previous-slide:hover {
        transform: scale(1.4);
      }

      .slide-btn:hover svg {
        transition: all 0.1s ease;
        filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
      }
    }

    .next-slide:active {
      transform: scale(1.4);
    }

    .previous-slide:active {
      transform: scale(1.4);
    }

    .slide-btn:active svg {
      transition: all 0.1s ease;
      filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
      -webkit-filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
      -moz-filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
    }

    .slide-btn svg {
      width: 64px;
      height: 64px;
      stroke-width: inherit;
      stroke: var(--accent-color);
      fill: none;
      cursor: pointer;
    }
    .previous-slide {
      grid-column: 1 / 2;
    }
    .next-slide {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
    }

    .slides {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    .slide-item {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .project-description {
      position: absolute;
      left: 5%;
      bottom: 20%;
    }
    .project-img {
      position: absolute;
      right: 0;
      height: auto;
      top: 10%;
      width: 500px;
      border-radius: 15px;
    }

    article {
      width: calc(72vw + 36px);
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
      h2 {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 2rem;
      }
    }
    .project-description {
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 16px;
      padding: 24px;
      width: 475px;
      height: fit-content;
      border-radius: 15px;
      background-color: var(--background-lighter-color);
      box-shadow: var(--shadow);
      z-index: 1;
      h2 {
        color: var(--accent-color);
        font-size: 1.6rem;
        font-weight: 500;
      }

      .project-btn {
        margin-top: 6px;
        @include btn;
      }
    }

    .project-btn {
      text-decoration: none;
    }
  }
}
