@mixin footer {
  footer {
    @include pc-padding;
    padding-bottom: 18px;
    display: flex;
    position: relative;
    width: 100vw;
    height: 400px;
    overflow: hidden;

    .heart {
      display: inline-block;
      width: 16px;
      height: 16px;

      svg {
        height: 100%;
        width: 100%;
        transform: translateY(3px);
      }
    }

    .c-r {
      @include flex-spaced-between;
      color: var(--text-color-low-emphasis);
      width: 100%;
      align-items: center;
      align-self: end;
      gap: 40px;
    }

    .c-r {
      font-size: 1rem;
    }
    .c-r__left {
      bottom: 12px;
      left: 40px;
    }
    .c-r__right {
      bottom: 12px;
      right: 40px;
    }
  }
}
