@mixin footer {
  footer {
    @include large-screen-padding;
    overflow: hidden;
    .section-last {
      user-select: none;
      padding-bottom: 18px;
      display: grid;
      grid-template-rows: min-content min-content min-content;
      row-gap: 52px;
      height: fit-content;
    }
    .footer-link {
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-color-medium-emphasis);
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
    .footer-main-text {
      font-size: 1.4rem;
      text-align: center;
      display: inline-block;
      width: fit-content;
      height: fit-content;
      justify-self: center;
      color: var(--accent-color);
      font-weight: 500;
    }

    .c-r {
      justify-self: center;
      text-align: center;
      color: var(--text-color-low-emphasis);
      font-size: 1rem;
      font-weight: 400;
    }
    svg:not(.footer__icon) {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      transform: translateY(3px);
    }

    .footer__links {
      display: inline-block;
      text-align: center;
      width: 80vw;
      justify-self: center;
      max-width: 900px;

      @media (max-width: 350px) {
        text-align: left;
        width: 11rem;
      }
    }

    .footer__link__wrapper {
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;
    }

    .footer-link__item {
      display: flex;
      align-items: center;
      gap: 6px;
      transition: all 0.1s ease;
      width: fit-content;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: scale(1.1);
          .footer-link {
            color: var(--accent-color);
          }
        }
      }

      &:active {
        .footer-link {
          color: var(--accent-color);
        }
      }
    }

    .footer__icon {
      stroke: var(--accent-color);
      stroke-width: 1;
      fill: none;
      width: 1.6rem;
      height: 1.6rem;
    }

    .footer__links__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
