@import "sections/section-1";
@import "sections/section-2";
@import "sections/section-3";
@import "sections/section-4";

@mixin main-content {
  main {
    width: 100vw;
    padding-top: 200px;
    overflow: hidden;
    margin: 0 auto;
  }

  @include section-1;
  @include section-2;
  @include section-3;
  @include section-4;
}
