@mixin flex-spaced-between {
  display: flex;
  justify-content: space-between;
}

@mixin fixed-header {
  position: fixed;
  width: 100vw;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease;
}

@mixin vertical-banners__common-styles {
  position: fixed;
  bottom: 10vh;
}

@mixin hover-active {
  transition: all 0.1s ease;
  width: 36px;
  height: 36px;
  opacity: 1;
}

@mixin code-art__content {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  font-family: "Consolas";
  font-size: 13px;
  line-height: 1.2;
  pre {
    white-space: pre-wrap;
  }
}

@mixin btn-hover-active {
  transition: all 0.2s ease;
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  padding-left: 35px;
  padding-right: 35px;
  transform: translateX(-10px);
}
@mixin btn {
  height: fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;

  // If hovering and pointer. Solves sticky hover problem in touch devices.
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include btn-hover-active;
    }
  }
  &:active {
    @include btn-hover-active;
  }
}
///////// Responsive padding //////
@mixin pc-padding {
  padding-left: 10vw;
  padding-right: 10vw;
}
@mixin tablet-padding {
  padding-left: 8vw;
  padding-right: 8vw;
}
@mixin mobile-padding {
  padding-left: 40px;
  padding-right: 40px;
}

///////////////////////////////////

@mixin tablet-responsive {
  @media (max-width: 950px) and (min-width: 600px) {
    main {
      padding-top: 150px;
    }

    ///////////// SECTION 1 //////////////////
    .section-1 {
      @include tablet-padding;
    }
    .section-1 article {
      position: relative;
      align-items: center;
    }

    .section-1 article .introduction {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 400px;
      height: fit-content;
      padding: 16px;
      border-radius: 15px;
      background-color: var(--introduction-window-color);
      box-shadow: var(--shadow);
      .introduction-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(2px);
      }
    }

    ///////// SECTION 2 //////////////

    .section-2 {
      @include tablet-padding;
    }

    .section-2 .about-me__wrapper {
      display: flex;
      flex-direction: column;

      align-content: center;
      img {
        position: static;
        transform: translateY(42px);
        align-self: center;
      }

      .about-me {
        display: flex;
      }

      article {
        transform: none;
        padding-top: 62px;
        // grid-template-columns: 1fr;
      }
    }
    .code__design {
      display: none;
    }
    /////////////// SECTION 3 //////////////
    .section-3 {
      @include tablet-padding;

      .skill-card__wrapper {
        grid-template-columns: 18vw 18vw 18vw 18vw;
        padding: 14px;
      }

      .skill-card {
        height: 18vw;
        .technology-description h2 {
          font-size: 0.8rem;
        }
      }

      .skill-card__content {
      }

      .skill-card__svg-wrapper {
        width: 72px;
        height: 72px;
      }
      h1 {
        width: calc(72vw + 36px);
      }
    }
  }
}
///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////

@mixin mobile-responsive {
  //////////////////////// SECTION 1 ///////////////////////

  @media (max-width: 600px) {
    main {
      padding-top: 30px;
    }

    .section-1 {
      @include mobile-padding;
      padding-top: 30px;
      padding-bottom: 450px;
    }

    .section-1 article {
      display: flex;
      justify-content: space-around;
      position: relative;
      column-gap: 0;

      &::after {
        position: absolute;
        top: 0;
        content: "";
        height: calc(100% + 100px);
        width: 100vw;
        left: -10vw;
        background: linear-gradient(to top, var(--background-color), #0000);
        z-index: 1;
      }

      aside .code-art__container__back {
        display: none;
      }
      aside .code-art__container__front {
        position: static;
        width: 90vw;
        height: 450px;
        overflow: hidden;
      }

      .introduction {
        position: absolute;
        justify-content: flex-end;
        top: 200px;
        padding-right: 50px;
      }

      .introduction h2 {
        font-size: 2rem;
      }

      .introduction .say-hi {
        margin: 0;
      }
    }
    /////////////// SECTION 2 //////////////

    .section-2 {
      @include mobile-padding;
      padding-top: 120px;

      img {
        align-self: start;
        justify-self: center;
        width: 200px;
        border-radius: 50%;
        transform: rotate(2deg) translateY(-50%);
      }

      .about-me__wrapper article {
        display: flex;
        transform: none;
        padding: 120px 16px 16px 16px;
        width: 100%;

        h1 {
          text-align: center;
        }
      }

      .about-me__wrapper {
        display: flex;
        justify-content: center;
      }

      .about-me {
        display: block;
      }
    }
    .code__design {
      display: none;
    }

    /////////////// SECTION 3 //////////////
    .section-3 {
      @include mobile-padding;

      .skill-card__wrapper {
        grid-template-columns: 24vw 24vw 24vw;
        gap: 0;
      }

      .skill-card {
        height: 24vw;
        gap: 10px;
      }

      .skill-card__svg-wrapper {
        height: 10vw;
        width: 10vw;
      }
      h1 {
        width: 72vw;
      }
    }
  }
}
