@mixin flex-spaced-between {
  display: flex;
  justify-content: space-between;
}

@mixin fixed-header {
  position: fixed;
  width: 100vw;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease;
}

@mixin vertical-banners__common-styles {
  position: fixed;
  bottom: 10vh;
}

@mixin hover-active {
  transition: all 0.1s ease;
  width: 36px;
  height: 36px;
  opacity: 1;
}

@mixin code-art__content {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  font-family: "Consolas";
  font-size: 13px;
  line-height: 1.2;
  pre {
    white-space: pre-wrap;
  }
}

@mixin btn-hover-active {
  transition: all 0.2s ease;
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  padding-left: 35px;
  padding-right: 35px;
  transform: translateX(-10px);
}
@mixin btn {
  height: fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;

  // If hovering and pointer. Solves sticky hover problem in touch devices.
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include btn-hover-active;
    }
  }
  &:active {
    @include btn-hover-active;
  }
}
///////// Responsive padding //////
@mixin pc-padding {
  padding-left: 10vw;
  padding-right: 10vw;
}
@mixin tablet-padding {
  padding-left: 8vw;
  padding-right: 8vw;
}
@mixin mobile-padding {
  padding-left: 40px;
  padding-right: 40px;
}

///////////////////////////////////

@mixin tablet-responsive {
  @media (max-width: 950px) and (min-width: 600px) {
    main {
      padding-top: 150px;
    }

    ///////////// SECTION 1 //////////////////
    .section-1 {
      @include tablet-padding;
    }
    .section-1 article {
      position: relative;
      align-items: center;
    }

    .section-1 article .introduction {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 400px;
      height: fit-content;
      padding: 16px;
      border-radius: 15px;
      background-color: var(--introduction-window-color);
      box-shadow: var(--shadow);
      .introduction-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(2px);
      }
    }

    ///////// SECTION 2 //////////////

    .section-2 {
      @include tablet-padding;
    }

    .section-2 .about-me__wrapper {
      display: flex;
      flex-direction: column;

      align-content: center;
      img {
        position: static;
        transform: translateY(42px);
        align-self: center;
      }

      .about-me {
        display: flex;
      }

      article {
        transform: none;
        padding-top: 62px;
      }
    }
    .code__design {
      display: none;
    }
    /////////////// SECTION 3 //////////////
    .section-3 {
      @include tablet-padding;
      gap: 26px;
      .skill-card__wrapper {
        grid-template-columns: 18vw 18vw 18vw 18vw;
        padding: 14px;
      }

      .skill-card {
        height: 18vw;
        .technology-description h2 {
          font-size: 0.8rem;
        }
      }

      .skill-card__svg-wrapper {
        width: 72px;
        height: 72px;
      }
      h1 {
        width: calc(72vw + 36px);
      }
    }
  }
}

@mixin section-4-responsive {
  @media (max-width: 950px) {
    .section-4 {
      padding: 0 30px 200px 30px;
      gap: 60px;
      margin-bottom: 500px;
      .slider__container {
        grid-template-rows: 700px 0fr;
      }

      article {
        width: calc(72vw + 36px);
      }

      .slide-item {
        flex-direction: column-reverse;
        gap: 10px;
        overflow: hidden;

        img {
          height: 400px;
          width: auto;
          transform: none;
        }
      }

      .project-description {
        transform: none;
        width: 80%;
        border: 0;
      }
    }
  }
}

@mixin mobile-responsive {
  //////////////////////// SECTION 1 ///////////////////////

  @media (max-width: 600px) {
    main {
      padding-top: 30px;
    }

    .section-1 {
      @include mobile-padding;
      padding-top: 30px;
      padding-bottom: 400px;
    }

    .section-1 article {
      display: flex;
      justify-content: space-around;
      position: relative;
      column-gap: 0;

      &::after {
        position: absolute;
        top: 0;
        content: "";
        height: calc(100% + 100px);
        width: 100vw;
        left: -10vw;
        background: linear-gradient(to top, var(--background-color), #0000);
        z-index: 1;
      }

      aside .code-art__container__back {
        display: none;
      }
      aside .code-art__container__front {
        position: static;
        width: 90vw;
        height: 450px;
        overflow: hidden;
      }

      .introduction {
        position: absolute;
        justify-content: flex-end;
        top: 200px;
        padding-right: 50px;
      }

      .introduction h2 {
        font-size: 2rem;
      }

      .introduction .say-hi {
        margin: 0;
      }
    }
    /////////////// SECTION 2 //////////////

    .section-2 {
      @include mobile-padding;
      padding-top: 120px;

      img {
        align-self: start;
        justify-self: center;
        width: 200px;
        border-radius: 50%;
        transform: rotate(2deg) translateY(-50%);
      }

      .about-me__wrapper article {
        display: flex;
        transform: none;
        padding: 120px 16px 16px 16px;
        h1 {
          text-align: center;
        }
      }

      .about-me__wrapper {
        display: flex;
        justify-content: center;
      }

      .about-me {
        display: block;
      }
    }
    .code__design {
      display: none;
    }

    /////////////// SECTION 3 //////////////
    .section-3 {
      @include mobile-padding;
      gap: 26px;
      .skill-card__wrapper {
        grid-template-columns: 24vw 24vw 24vw;
        gap: 0;
      }

      .skill-card {
        height: 24vw;
        gap: 10px;
      }

      .skill-card__svg-wrapper {
        height: 10vw;
        width: 10vw;
      }
      h1 {
        width: 72vw;
      }
    }

    //// Section 4 /////

    .section-4 {
      padding: 0;
      gap: 26px;
      grid-template-columns: 1fr;

      .project-description {
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 100%;
        box-shadow: none;
      }

      .project__img {
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      .slide-item::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, var(--background-color), #0000);
        z-index: 0;
        transform: translateY(-150px);
      }

      .slide-btn {
        width: 44px;
        height: 44px;
      }

      .slide-btn svg {
        width: 44px;
        height: 44px;
      }

      .next-slide {
        transform: translateX(-40px);
      }

      .previous-slide {
        transform: translateX(40px);
        z-index: 1;
      }

      .slide-item {
        border-radius: 15px;
        gap: 0;
      }

      @media (hover: hover) and (pointer: fine) {
        .next-slide:hover {
          transform: scale(1.4) translateX(-30px);
        }

        .previous-slide:hover {
          transform: scale(1.4) translateX(30px);
        }
      }
      .next-slide:active {
        transform: scale(1.4) translateX(-30px);
      }

      .previous-slide:active {
        transform: scale(1.4) translateX(30px);
      }
    }
  }
}
