.small-screen-menu__overlay {
  display: flex;
  justify-content: right;
  align-items: center;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in,
    background-color 0.2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 900;

  &::after {
    content: "© 2022 Omar Moquete. All rights reserved.";
    position: fixed;
    font-size: 0.7em;
    font-weight: 400;
    color: var(--text-color-low-emphasis);
    bottom: 40px;
    padding-right: 24px;
    right: 0;
    width: calc(40vw - 48px);
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateX(100%);
  }
}
.small-screen-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 24px;
  padding-bottom: 250px;
  top: 50px;
  right: 0;
  width: 40vw;
  height: 100vh;
  // background-color: var(--background-lighter-color);
  box-shadow: var(--shadow);
  gap: 34px;
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: translateX(100%);
  background: linear-gradient(
    to top,
    var(--background-color),
    var(--background-lighter-color)
  );

  label {
    font-size: 1em;
    font-weight: 200;
    transition: all 0.1s ease;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--accent-color);
      }
    }

    &:active {
      color: var(--accent-color);
    }
  }
}
