// dark theme colors
$dt-background-dark-color: #121212;
$dt-background-lighter-color: #2b2b2b;
$dt-background-lightest-color: #3b3b3b;
$dt-accent-color: #64ffda;
$dt-text-color-high-emphasis: rgba(255, 255, 255, 0.87);
$dt-text-color-medium-emphasis: rgba(255, 255, 255, 0.6);
$dt-text-color-low-emphasis: rgba(255, 255, 255, 0.38);
