// Assets
@import "mixins";
@import "variables";
@import "header";
@import "main-content";
@font-face {
  font-family: "Consolas";
  src: url("../../../assets/fonts/consola.ttf");
}
///////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-high-emphasis);
  -webkit-tap-highlight-color: transparent;
}
@include header;
@include content;
@include tablet-responsive;
@include mobile-responsive;

// togglers
.invisible {
  transition: opacity 0.4s ease;
  opacity: 0;
}

.for-main__header-active {
  margin-top: 50px;
}
