// Assets
@import "mixins";
@import "variables";
@import "header";
@import "main-content";
@font-face {
  font-family: "Consolas";
  src: url("../../fonts/consola.ttf");
}
///////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-transparent);
}

::-moz-selection { /* Code for Firefox */
  color: var(--text-color-high-emphasis);
  background: var(--accent-color-transparent);
}

::selection {
  color: var(--text-color-high-emphasis);
  background: var(--accent-color-transparent);
}
body {
  p {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.2rem;
  }
  background-color: var(--background-color);
  color: var(--text-color-high-emphasis);
  -webkit-tap-highlight-color: transparent;
}
@include header;
@include content;


// togglers
.invisible {
  transition: opacity 0.4s ease;
  opacity: 0;
}

.for-main__header-active {
  margin-top: 50px;
}
